.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logoImg {
  width : 75px;
  height: 75px;
  margin-top: 10px;
  margin-bottom:10px;
  display: inline-block;
  float:left;
}

.divider {
  height: 10px;
  background-color: #024771;
  margin: 0px;
}

.pageTitle {
  font-size: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #0678BE;
}
.textStyle{
  float:left;
  margin-top: 20px;
  margin-bottom: 0px !important;

}
.footerDivider{
  height: 4px;
  background-color: #024771;
  margin-top:0px;
  margin-bottom:0px;
}
.textSize{
  font-size:8px;
  margin: 5px;
}
.textTitle{
  font-size:10px;
  margin-bottom:0px;
}

.home{
  margin-top: 10px;
}
.homeBtn{
  font-size: 50px;
  background-color: #F5F5F5;
  color: #024771;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 15px;
  width: 350px;
  height: 100px;
  border: 2px solid #024771;
}
.homeBtn:hover{
  background-color: #024771;
  color: white;
}

.dock-door{
  margin-top: 15px;
}

.dock-door label{
  margin-right: 10px;
}
.footer{
  z-index: 9999;
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 55px;
  width:100%;
}
/*#root{
  margin-bottom:100px;
}*/

/*.bodyComponents{
  min-height:70%;
}*/
.container{
  position: relative;
  min-height:100vh;
}
.asn-search{
  margin-top:10px;
}
.asn-search input{
  margin-right:10px;
}
.buttonClass{
  margin:5px;
}
.tableSerials{
  margin-top: 10px;
}
/*.backgroundBtn{
  border:5px solid #0678BE;
  border-radius: 5px;
  height: 125px;
}*/
.backgroundBtn button{
  margin-top: 20px;
}

.loginWrapper input{
  border-radius: 6px;
}
.form-group label{
  margin-right:10px;
}
.addDoorForm input{
  border-radius: 6px;
}
.addDoorForm label{
  margin-right:10px;
}
.loginWrapper button{
  margin-top:10px;
  margin-bottom:20px;
}
.header{
  margin-bottom: 20px;
}

.logoutLink{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  margin-top:60px;
}

.logoutLink a{
  color:#0678BE;
}

@media screen and (max-width: 1100px){
  .logoutLink{
    margin-top: 0px;
  }
}


@media screen and (max-width: 625px){
  .pageTitle{
    font-size: 40px;
    margin-top:20px;
  }
}

@media screen and (max-width: 425px){
  .pageTitle{
    font-size: 30px;
  }
 
  .textTitle{
    font-size: 8px;
  }

  .textSixe{
    font-size: 6px;
  }
}

.table{
  margin-bottom: 75px;
}